@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background-color: #0a0a0a; /* neutral-950 */
  color: #e5e5e5; /* neutral-200 */
}
